NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_DISABLE_LOGIN=false
SUPABASE_SERVICE_ROLE_KEY=
INBOUND_EMAIL_HOST=imap.ionos.de
INBOUND_EMAIL_PORT=993
INBOUND_EMAIL_USER=einkauf@lks-technik.de
INBOUND_EMAIL_PASSWORD=
CRON_SECRET=
